body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-up{
    height: 44px;
    background-color: #CDCDCD;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    color: #F2F2F2;
    background-color: #2B2B2B;
}

.header-nav-item{
    padding: 0 25%;
}

.header-nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}

.header-nav a{
    color: #F2F2F2;
    font-size: 16px;
    text-decoration: none;
}

.header-nav a:hover{
    color: #ffffff;
}