.section-welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Выравнивание контента вверху */
    padding-bottom: 70px;
}

.section-welcome-image {
    width: auto;
    max-width: 100%;
    height: auto;
}

.section-welcome-image {
    margin-bottom: 20px;
}

.section-welcome-text-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.section-welcome-title {
    display: flex;
    margin: 0;
    /* font-family: Inter; */
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0em;
    color: black;
}

.section-welcome-description {
    margin: 0;
    /* font-family: Inter; */
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    color: black;
}

.description {
    margin: 0;
}