body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    overflow-x: hidden;
   
}

.container{
    max-width: 2300px; /*2300 если нужно от 50% отдалять*/
    margin: 0 auto;  /* центрирует  контент на странице */
    
}


@media (max-width: 2300px) { /*2300 если нужно от 50% отдалять*/
    .container {
        padding: 0 6%;
    }
}