body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

footer {
    background-color: #F5F5F7;
    color: #8B8B8B;
    padding: 0 20%;
    font-size: 12px;
    margin-top: auto;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1 1 auto;
}

.footer-column h3 {
    color: #4A4A4A;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ol{
    padding-left: 10px;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #8B8B8B;
    text-decoration: none;
}

.footer-links a:hover{
    text-decoration: underline;
}

.company-name {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.company-name-tag {
    padding-right: 50px;
}

.company-name-about {
    padding-left: 10px;
    cursor: default;
}

.company-name-ukraine {
    margin-left: auto;
}